<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Acceso</servlet-name>
        <servlet-class>servlet.Acceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>servlet.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroProveedor</servlet-name>
        <servlet-class>servlet.RegistroProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccesoProveedor</servlet-name>
        <servlet-class>servlet.AccesoProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>activarUsuario</servlet-name>
        <servlet-class>servlet.activarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>visor</servlet-name>
        <servlet-class>servlet.visor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelaComparativo</servlet-name>
        <servlet-class>servlet.cancelaComparativo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Acceso</servlet-name>
        <url-pattern>/Acceso/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccesoProveedor</servlet-name>
        <url-pattern>/AccesoProveedor/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroProveedor</servlet-name>
        <url-pattern>/RegistroProveedor/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>activarUsuario</servlet-name>
        <url-pattern>/activarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>visor</servlet-name>
        <url-pattern>/visor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelaComparativo</servlet-name>
        <url-pattern>/cancelaComparativo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            0
        </session-timeout>
    </session-config>
</web-app>
